*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    width: 100%;
    justify-content: center;
}
.container{
    border: 1px solid rgb(68, 59, 46);
    min-height: 200px;
    min-width: 60%;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.leftside{
    display: flex;
    gap: 10px;
    align-items: center;

}

.todoheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.controlBTN{
    padding: 9px 15px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid rgb(130, 98, 52) ;
    font-weight:bold ;
    color: gray;


}
.ClearBTN{
   color: rgb(158, 63, 63); 
}
.addBTN{
    border: 1px solid rgb(104, 150, 150);
    background-color: rgba(0, 255, 255, 0.709);
    color: rgba(0, 209, 178, 0.2);
}

.taskinput{
    display: flex;
    justify-content: space-between;

}

.inputEl{
    padding: 9px; ;
    width: 90%;
    outline: 1px solid rgb(0, 209, 178);
    border-radius: 10px;
    border: none;
}
.taskparent{
border: 1px solid gray;
border-radius: 20px;
padding: 20px;
background-color: rgb(246, 242, 242);
 
}
.taskchild{
    display: flex;
    justify-content: space-between;
    padding: 9px 8px;
    align-items: center; 
    border-radius: 10px;
}
.taskleftside{
    display: flex;
    gap: 5px;
    align-items: center;
    
}
.taskchild:hover{
    background-color: rgb(171, 147, 147);
}




.done{
    text-decoration: line-through;
    color: rgb(178, 172, 172);
}
.taskfootler{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.tabsbuttons{
   display: flex; 



}

.tabBTN{
    font-size: 12px;
    padding: 5px;
}





@media(max-width:623px){
    .container{
        min-width: 300px;
    }
}

@media(max-width:625px){
    .todoheader{
        flex-direction: column;
        gap: 5px;
    }
} 
@media (max-width:647px) {
    .taskfootler{
        flex-direction: column-reverse;
        
    }
    
}
@media (max-width: 700px){
    .container{
    border: none;
    min-height: 200px;
    min-width: 60%;
    border-radius: 0px;
    box-shadow: none;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
}   

